
/*css style for project 3

Student Name: Bryan Sevilla
Assignment Name: css style for projct 3
Date: 10/30/2025 */


video{
    width: 60%;
}
.my-controls{
    display: flex;
    list-style:none;
    justify-content: left;
}
.my-controls li{
    width: 100px;
    line-height:100px;
    background: #957C62;
    margin: 0 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    border:5px solid #E2B59A;
    cursor:pointer;
    transition:transform 1s ;
}
.my-controls li:hover{
    transform: rotate(180deg);
}
body{
background-color: #FFE1AF;
}


  .hidden {
  display: none;
}